:root{
    --text-color:#e0e00b;
    --background:rgb(8, 8, 61);
    --scroll:smooth;

}
html{
     font-size: 62.5%; 
    overflow-x: hidden; 
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
::selection{
    color: var(--text-color);
    background-color: var(--background);
}
body{
    background: #d3e4f5;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 65px;
    background-color: var(--background);
    box-shadow: 1rem 0.5rem 1rem rgba(3, 3, 3, 0.904);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 0px 5%; 
}
header .name{
    color: var(--text-color);
    font-size: 25px;
    
}
header .nav ul{
    display: flex;
    list-style-type: none;
}
header .nav ul li{
    height: 50px;
    padding: 10px 20px;

}
header .nav a{
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    color: var(--text-color);
    margin: 0px 2px;
    line-height: 30px;
}
header .nav a:hover{
    color: white;
    background: linear-gradient(180deg, rgb(8, 8, 61), #e0e00b);
    border-radius: 20px;
    padding: 10px 10px;
    
}
section{
    min-height: 100vh;
    padding: 7.5rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../tessa/IMG_2575.JPG);
    background-position: center; 
    background-size: cover;
   
}
.home .image img{
    width: 30rem;
    /* margin-top: 50px; */
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateX(20px);
    }
    50%{
        transform: translateX(-30px);
    }
    100%{
        transform: translateY(40px);
    }
}
.home .content h3{
    font-size: 40px;
    font-weight: bold;
    color: var(--text-color);
    text-transform: uppercase;
}
.home .content p{
    font-size: 20px;
    color: rgba(212, 208, 208, 0.842);
    padding: 5px;
    font-weight: 500;
}
.btn{
    display: inline-block;
    margin-top: 5px;
    padding: 10px 5px;
    background: linear-gradient( rgb(8, 8, 61), yellow);
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(212, 208, 208, 0.842);
    cursor: pointer;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.89);
    transition: all .3s linear;
}
.btn:hover{
    transform: scale(1.1);
    color: black;
}
.head{
    text-align: center;
    background: var(--background);
    color: var(--text-color);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.blog{
    margin-top: -30rem;
}
.contain-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.contain-image{
    flex: 1 1 2rem;
}
.contain-image img{
    height: 470px;
}
.content-about{
    flex: 1 1 20rem;
}
.contain-about h3{
    font-size: 22px;
    font-weight: bold;
    color: var(--background);
    text-transform: uppercase;
}
.contain-about p{
    font-size: 20px;
    color: rgba(7, 6, 6, 0.842);
    padding: 1rem 0;
    line-height: 30px;
    font-weight: bold;
    display: inline;
}
.product .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    

}
.product .container .box{
    flex: 1 1 20rem;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    margin: 1.5rem;
    padding: 30px 20px;
    transition: .3s ease-in-out;
    text-align: center;
    
}
.product .box img{
    height: 12rem;
    width: 15rem;
}
.blog .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.product .box h3{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--background);
}
.product .box p{
    color: rgba(7, 6, 6, 0.842);
    
}
.product .box:hover{
    transform: scale(1.1);
}
.blog .container .box{
    flex: 1 1 20rem;
    background: white;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    margin: 1.5rem;
    padding: 30px 20px;
    transition: .3s linear;
    text-align: center;
}
.blog .box:hover{
    transform: scale(1.1)
}
.blog .box img{
    height: 8rem;
    width: 15rem;
}
.blog .box h3{
    font-size: 22px;
    color: var(--background);
    padding: 20px;
}
.blog .box p{
    font-size: 20px;
    color: rgba(7, 6, 6, 0.842);
    padding-top: 20px 0px;
}
.news{
    text-align: center;
    padding: 5rem 1rem;
    background: url(../tessa/IMG_2576.JPG) center/cover;
   
}
.news h3{
    color: var(--text-color);
    font-size: 25px;
    text-transform: uppercase;
}
.news p{
    color: #fff;
    font-size: 20px;
    margin: 1rem auto;
    width: 70rem;
}
.news form{
    display: flex;
    max-width: 70rem;
    border: 2px solid white;
    padding: .5rem;
    border-radius: 20px;
    margin: 2rem auto;
    height: 5rem;
    position: relative;
    
}
.news form input[type="email"]::placeholder{
    color: #fff;
    text-transform: capitalize;
   
}
.news form input[type="email"]{
    padding: 0 2rem;
    background: none;
    /* color: white; */
    font-size: 18px;
    width: 100%;

}
.news form input[type="submit"].btn{
    height: 50px;
    position: absolute;
    right: 5px;
}
.review .contain-review{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.review .contain-review .box{
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    flex: 1 1 20rem;
    /* margin-bottom: -80px; */
    transition: ease-in 0.5s;
    box-shadow: 1px -1px 22px 8px gray;
}
.review .contain-review .box  .fa-quote-right{
   position: absolute;
   top: 1rem;
   right: 2rem; 
   color: var(--background);
   font-size: 4rem;
   opacity: 0.3;

}
.review .contain-review .box .user img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    transform: scale(1);
    transition: .5s;

}
.review .contain-review .box .stars i{
    color: var(--text-color);
    font-size: 1rem;
}
.review .contain-review .box .user h3{
    color: var(--background);
    font-size: 22px;
}
.review .contain-review .box .user .reviews{
    display: inline;
}
.review .contain-review .box .user img:hover{
    transform: scale(1.3);
}
.review .contain-review .box:hover{
    transform: scale(1.1);
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
    
}
.contact .image{
    flex: 1 1 20rem;
}
.contact .image img{
   padding:0 1rem;

}
.contact form{
    flex: 1 1 20rem;
    padding: 1rem 3rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    background: var(--background);
    box-shadow: 0 0.5rem 2rem rgba(110, 93, 158, 0.2);
    border-radius: 20px;
}
.contact form .head{
    text-align: left;
    padding: 0px;
    padding-bottom: 1rem;
}
.contact .input-box{
   position: relative;
   color: white; 
   font-size: 18px;
}
.contact form .input-box input, .contact form .input-box textarea{
    width: 100%;
    background: rgb(185, 179, 179);
    color: black;
    padding: 0.5rem 0;
    border-radius: 10px;
    margin: 5px 0;
    font-size: 18px;
    text-transform: none;
}
.contact form .btn{
    padding: 1rem 3rem;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    margin-top: 10px;
}
.footer{
    padding: 3rem;
    background-image: url(../tessa/IMG_2577.JPG);
    background-size: cover;
    background-position: center;
   
}
.footer .footer-container{
    display: flex;
    flex-wrap: wrap;
}
.footer .footer-container .footer-box{
    flex: 1 1 10rem;
    margin: 2rem;
}
.footer .footer-container .footer-box h3{
    font-size: 22px;
    color: var(--text-color);
    padding: 1rem 0;
    text-decoration: underline;
    text-underline-offset:  0.5rem;
}
.footer .footer-container .footer-box p{
    font-size: 18px;
    color: white;
    padding: 0.5rem 0;
}
.footer .footer-container .footer-box a{
    display: block;
    font-size: 18px;
    color: white;
    padding: 0.2rem 0;
}
.footer .footer-container .footer-box .info{
    display: flex;
    align-items: center;
}
.footer .footer-container .footer-box .info i{
    margin: 0.5rem;
    margin-right: 1rem;
    color: var(--background);
    font-size: 18px;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.footer .copy{
    font-size: 20px;
    color: white;
    letter-spacing: 0.1rem;
    text-align: center;

}
header input{
    display: none;
}
header label{
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
    visibility: hidden;
    opacity: 1;
}

@media (max-width:1200px){
    html{
        font-size: 65%;
    }
}
@media (max-width:990px){
    section{
        padding: 0px 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
    
}
@media (max-width:768px){
    
    header label{
        visibility: visible;
        opacity: 1;
    }
    header .nav{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background: var(--background);
        padding: 1rem 2rem;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
        transform-origin: top;
        transform: scale(0);
        opacity: 0;
        transition: 0.2s linear;
    }
    header .nav ul{
        flex-direction: column;
    }
    header input:checked ~ .nav{
      transform: scale(1);
      opacity: 1;  
    }
    section.home#home{
        flex-direction: column-reverse;
    }
    section.home#home .image img{
        width: 60%;

    }
    section.home#home .content h3{
        font-size: 3.6rem;
    }
    section.home#home .content p{
        font-size: 1.6rem;
    }
    section.about{
        background-position: right;
    }
    .news p{
        width: 100%; 
    }
    .news form input[type="submit"].btn{
        height: 35px;
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}
@media (max-width:550px){
    html{
        font-size: 50%;
    }
    header label{
        visibility: visible;
        opacity: 1;
        align-items: center;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 65px;
        background-color: var(--background);
        box-shadow: 1rem 0.5rem 1rem rgba(3, 3, 3, 0.904);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        padding: 0px 5%; 
    }
    header .nav{
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background: var(--background);
        padding: 1rem 2rem;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
        transform-origin: top;
        transform: scale(0);
        opacity: 0;
        transition: 0.2s linear;
    }
    header .nav ul{
        flex-direction: column;
    }
    header input:checked ~ .nav{
      transform: scale(1);
      opacity: 1;  
    }
    section.home#home{
        flex-direction: column-reverse;
        width: 150%;
    }
    section.home#home .image img{
        width: 60%;

    }
    .news{
        width: 150%;
    }
    section.home#home .content h3{
        font-size: 3.6rem;
    }
    .footer{
        width: 150%;
    }
    section.home#home .content p{
        font-size: 1.6rem;
    }
    section.about{
        background-position: right;
    }
    .news p{
        width: 100%; 
    }
    .news form input[type="submit"].btn{
        height: 35px;
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
    .footer{
        padding: 3rem;
        background-image: url(../tessa/IMG_2577.JPG);
        background-size: cover;
        background-position: center;
       
    }
    
    
    
}